---
import ProgressBar from "@components/widgets/ProgressBar.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import educationIcon from "@assets/icons/education.svg";
import experienceIcon from "@assets/icons/experience.svg";
import hoppiesIcon from "@assets/icons/hoppies.svg";
import skillsIcon from "@assets/icons/skills.svg";
import workIcon from "@assets/icons/work.svg";
import { getSkills } from "@utils/tokens";
import SkillsWidget from "@components/widgets/SkillsWidget.astro";
import ProfileWidget from "@components/widgets/ProfileWidget.astro";
import A from "@components/markdown/A.astro";
const mySkills = getSkills();
---

<BaseLayout
  title="Blog"
  description={"Nice Blog Posts and Articles that Increase Your Knowladge in Web Development."}
>
  <div class="w-full grow bg-[#12181b]">
    <div class="pt-16 pb-5 text-gray-600 body-font lg:pb-auto lg:pt-20">
      <div
        class="container flex flex-col items-center justify-center px-5 mx-auto"
      >
        <div class="mx-auto lg:w-4/6">
          <div class="flex flex-col gap-20 sm:flex-row sm:gap-10">
            <ProfileWidget />
            <div class="flex flex-wrap flex-col pb-24 mx-auto">
              <SkillsWidget
                name=" What I do?"
                icon={workIcon}
                iconAltText="Work Bag"
              >
                <p class="text-base leading-relaxed text-gray-500">
                  I am a <span class="text-orange-500 font-semibold"
                    >Frontend</span
                  > Web Developer, Which make the Persentation Layer of The Website.
                </p>
              </SkillsWidget>
              <SkillsWidget name="Skills" icon={skillsIcon} iconAltText="Lampe">
                <p class="text-base leading-relaxed text-gray-500">
                  My Skills in Frontend.
                </p>
                <div
                  class="flex flex-col items-center justify-between w-full gap-1 bt-6"
                >
                  {
                    mySkills.map(({ skillName, progress, width }) => {
                      return (
                        <ProgressBar
                          skillName={skillName}
                          progress={progress}
                          width={width}
                        />
                      );
                    })
                  }
                </div>
              </SkillsWidget>
              <SkillsWidget
                name="Education"
                icon={educationIcon}
                iconAltText="Graduating Hate"
              >
                <p class="text-base leading-relaxed text-gray-500">
                  Electrical Power Engineering Student at <span
                    class="text-orange-500 font-semibold">SVU</span
                  > with <span class="text-orange-500 font-semibold"
                    >Very Good</span
                  > Grade.
                </p>
              </SkillsWidget>
              <SkillsWidget
                name="Hoppies"
                icon={hoppiesIcon}
                iconAltText="Joystik"
              >
                <p class="text-base leading-relaxed text-gray-500">
                  I love Learning New Knowladge in Programming and Shearing this
                  Knowladge with Athers throught My <A href="/blog"
                    ><span class="text-white">Blog</span>
                  </A>.
                </p>
              </SkillsWidget>
              <SkillsWidget
                name="Experience"
                icon={experienceIcon}
                iconAltText="Experience"
              >
                <p class="text-base leading-relaxed text-gray-500">
                  I am Student Now 🧑‍💻, I hope to be Professional Programmer in
                  The Future.
                </p>
              </SkillsWidget>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
