---
interface Props {
  title: string;
  excerpt: string;
  link: string;
  cover: any;
  tags: any;
}

const { title, excerpt, link, cover, tags } = Astro.props;

const tagss = {
  reactjs: {
    background: "bg-blue-500",
    color: "text-white",
  },
  javascript: {
    background: "bg-yellow-500",
    color: "text-slate-800",
  },
  nextjs: {
    background: "bg-black",
    color: "text-white",
  },
};
---

<div
  class="max-w-[330px] rounded-xl shadow-md bg-[#2a2e35] sm:hover:scale-[1.05] hover:scale-[1] duration-500"
>
  <a href={link}>
    <img class="rounded-t-xl w-full m-0 mb-1" src={cover} alt={title} />
  </a>
  <div class="p-[20px]">
    <a href={link}>
      <h5 class="mb-2 text-xl font-bold tracking-tight text-white truncate">
        {title}
      </h5>
    </a>
    <p class="article-excerpt mb-3 font-normal text-gray-400 w-full">
      {excerpt}
    </p>
    <div class="mb-3">
      {
        tags.map((tag) => {
          return (
            <span
              class={`${tagss[tag]["background"]} ${tagss[tag]["color"]}  text-xs font-semibold mr-2 px-2.5 py-0.5 rounded `}
            >
              #{tag}
            </span>
          );
        })
      }
    </div>
  </div>
</div>

<style is:global>
  .article-excerpt {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
  }
</style>
