---
interface Props {
  category: string;
  cover: string;
  title: string;
  githubUrl: string;
  livePreviewUrl: string | undefined;
}

const { category, cover, title, githubUrl, livePreviewUrl } = Astro.props;
---

<div
  class="max-w-[330px] rounded-xl shadow-md bg-[#2a2e35] sm:hover:scale-[1.05] hover:scale-[1] duration-500"
>
  <span>
    <img class="rounded-t-xl w-full m-0 mb-1" src={cover} alt={title} />
  </span>
  <div class="p-[15px] flex justify-between items-start">
    <h5 class="mb-2 text-xl font-bold tracking-tight text-white">
      {title}
    </h5>
    <div class="flex justify-center items-center gap-2">
      <a
        href={livePreviewUrl}
        target="_blank"
        class="py-1 px-1 inline-flex justify-center items-center gap-2 rounded-xl font-semibold hover:bg-orange-500 duration-500 text-white bg-orange-600 outline-none transition-all text-sm"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          width="24"
          height="24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"
          ></path>
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
        </svg>
      </a>
      <a
        href={githubUrl}
        target="_blank"
        class="py-1 px-1 inline-flex justify-center items-center gap-2 rounded-xl font-semibold bg-[#12181b]/80 text-white hover:bg-gray-800/90 duration-500 outline-none transition-all text-sm"
      >
        <svg
          fill="#fff"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 64 64"
          width="25"
          height="25"
          ><path
            d="M32 6C17.641 6 6 17.641 6 32c0 12.277 8.512 22.56 19.955 25.286-.592-.141-1.179-.299-1.755-.479V50.85c0 0-.975.325-2.275.325-3.637 0-5.148-3.245-5.525-4.875-.229-.993-.827-1.934-1.469-2.509-.767-.684-1.126-.686-1.131-.92-.01-.491.658-.471.975-.471 1.625 0 2.857 1.729 3.429 2.623 1.417 2.207 2.938 2.577 3.721 2.577.975 0 1.817-.146 2.397-.426.268-1.888 1.108-3.57 2.478-4.774-6.097-1.219-10.4-4.716-10.4-10.4 0-2.928 1.175-5.619 3.133-7.792C19.333 23.641 19 22.494 19 20.625c0-1.235.086-2.751.65-4.225 0 0 3.708.026 7.205 3.338C28.469 19.268 30.196 19 32 19s3.531.268 5.145.738c3.497-3.312 7.205-3.338 7.205-3.338.567 1.474.65 2.99.65 4.225 0 2.015-.268 3.19-.432 3.697C46.466 26.475 47.6 29.124 47.6 32c0 5.684-4.303 9.181-10.4 10.4 1.628 1.43 2.6 3.513 2.6 5.85v8.557c-.576.181-1.162.338-1.755.479C49.488 54.56 58 44.277 58 32 58 17.641 46.359 6 32 6zM33.813 57.93C33.214 57.972 32.61 58 32 58 32.61 58 33.213 57.971 33.813 57.93zM37.786 57.346c-1.164.265-2.357.451-3.575.554C35.429 57.797 36.622 57.61 37.786 57.346zM32 58c-.61 0-1.214-.028-1.813-.07C30.787 57.971 31.39 58 32 58zM29.788 57.9c-1.217-.103-2.411-.289-3.574-.554C27.378 57.61 28.571 57.797 29.788 57.9z"
          ></path>
        </svg>
      </a>
    </div>
  </div>
</div>
