---
import ArticleCard from "@components/core/ArticleCard.astro";
import SectionHeading from "@components/widgets/SectionHeading.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
const articles = await Astro.glob("../../data/articles/**/*.mdx");
const nonDraftArticles = articles.filter((post) => !post.frontmatter.draft);
---

<BaseLayout
  title="Welcome to Astro."
  description={"Nice Blog Posts and Articles that Increase Your Knowladge in Web Development."}
>
  <div class="w-full grow bg-[#12181b]">
    <div class="container mx-auto px-4 mt-20">
      <SectionHeading
        animate={false}
        primaryHeading="Articles"
        secondaryHeading="Awesome Articles âœï¸"
        backgroundColor="bg-[#d100d4]"
      />

      <div
        class="mt-20 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 justify-items-center gap-6"
      >
        {
          nonDraftArticles.map(
            ({ frontmatter: { slug, title, excerpt, cover, tags } }) => {
              const readyTags = tags.split(", ");

              return (
                <ArticleCard
                  title={title}
                  link={`/blog/${slug}`}
                  cover={cover}
                  excerpt={excerpt}
                  tags={readyTags}
                />
              );
            }
          )
        }
      </div>
    </div>
  </div>
</BaseLayout>
