---
import facebook from "@assets/icons/facebook.svg";
import twitter from "@assets/icons/twitter.svg";
import linkedin from "@assets/icons/linkedin.svg";
import github from "@assets/icons/github.svg";
import SocialIcon from "../atoms/SocialIcon.astro";
import { getFooterSocialIcons } from "@utils/tokens";
import FooterLogo from "./FooterLogo.astro";

const socialIconsInfo = getFooterSocialIcons([
  facebook,
  twitter,
  linkedin,
  github,
]);
---

<div class="bg-[#12181b] w-full sm:py-6 py-10">
  <div
    class="container mx-auto px-4 flex h-full flex-col justify-center gap-6 sm:gap-0 sm:flex-row sm:justify-between items-center"
  >
    <div class="flex justify-center items-center gap-2 flex-col sm:flex-row">
      <FooterLogo />
    </div>
    <ul class="flex justify-center items-center gap-3">
      {
        socialIconsInfo.map(({ icon, altText, background, link, border }) => {
          return (
            <li>
              <a href={link} target="_blank">
                <SocialIcon
                  icon={icon}
                  altText={altText}
                  background={background}
                  border={border}
                />
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</div>
