---
interface Props {
  animate: boolean;
  primaryHeading: string;
  secondaryHeading: string;
  backgroundColor: string;
  animateName?: string;
  animationName?: string;
  animationDuration?: number;
}

const {
  animate,
  primaryHeading,
  secondaryHeading,
  backgroundColor,
  animateName,
  animationName,
  animationDuration,
} = Astro.props;
---

{
  animate ? (
    <div
      data-aos={animationName ? animationName : "fade-right"}
      data-aos-offset="100"
      data-aos-delay={`${animationDuration ? animationDuration : 30}`}
      data-aos-duration="1000"
      class="flex justify-center items-center flex-col gap-4 text-white"
    >
      <span class={`py-4 px-6 ${backgroundColor} text-4xl font-bold`}>
        {primaryHeading}
      </span>
      <span class={`text-xl ${animateName ? animateName : ""}`}>
        {secondaryHeading}
      </span>
    </div>
  ) : (
    <div class="flex justify-center items-center flex-col gap-4 text-white">
      <span class={`py-4 px-6 ${backgroundColor} text-4xl font-bold`}>
        {primaryHeading}
      </span>
      <span class={`text-xl  ${animateName ? animateName : ""}`}>
        {secondaryHeading}
      </span>
    </div>
  )
}
