---
import STTButton from "@components/atoms/STTButton.astro";
import Footer from "@components/widgets/Footer.astro";
import NavBar from "@components/widgets/NavBar.astro";
import tabIcon from "../../public/images/logo.png";
// import manifestFile from "../../public/manifest.json";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1" />
    <meta name="theme-color" content="#2a2e35" />
    <meta name="description" content={description} />
    <link rel="icon" href={tabIcon} />
    <link rel="apple-touch-icon" href={tabIcon} />

    <title>{title}</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;700;800;900&family=Silkscreen:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link rel="manifest" href="/manifest.json" />
  </head>
  <body>
    <main
      class="flex flex-col justify-center items-center w-full min-h-screen min-w-screen"
    >
      <NavBar />
      <slot />
      <STTButton />
      <Footer />
    </main>

    <style is:global>
      @import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;700;800;900&family=Silkscreen:wght@400;700&display=swap");
      html {
        scroll-behavior: smooth;
      }

      * {
        font-family: "Lexend";
      }

      code,
      pre {
        overflow: auto;
      }

      button {
        outline: none;
      }

      button::selection {
        background: transparent;
      }
    </style>
  </body>

  <script>
    import AOS from "aos";
    import "aos/dist/aos.css";
    AOS.init();

    if ("serviceWorker" in navigator) {
      navigator.serviceWorker
        .register("/sw.js")
        .then(() => console.log("Server Worker Registered :)"));
    }

    const myName = `
░█████╗░██╗░░██╗███╗░░░███╗███████╗██████╗░
██╔══██╗██║░░██║████╗░████║██╔════╝██╔══██╗
███████║███████║██╔████╔██║█████╗░░██║░░██║
██╔══██║██╔══██║██║╚██╔╝██║██╔══╝░░██║░░██║
██║░░██║██║░░██║██║░╚═╝░██║███████╗██████╔╝
╚═╝░░╚═╝╚═╝░░╚═╝╚═╝░░░░░╚═╝╚══════╝╚═════╝░`;

    console.log(`%c${myName}`, "color: #f97316; font-size: 20px;");
  </script>
</html>
